{% extends 'base.html' %}

{% block title %}Campaign Details{% endblock %}
    
{% block content %}
<h2>{{ campaign.client_name }} Campaign</h2>
    
    <div class="row row row-cols-2 border-bottom p-1">
            <div class="col">
            <div class="column-header">Campaign</div>
        </div>

        <div class="col">
            <div class="column-header">Description</div>
        </div>
    </div>
    
    <div class="row row row-cols-2 border-bottom p-1">
        <div class="col-3">
            <p>{{ campaign.campaign_name }}</p>
        </div>

        <div class="col-9">
            <p>{{ campaign.description }}</p>
        </div>
    </div>  

<div class="row row row-cols-2 border-bottom p-3">
    <div class="col-3"></div>
    <div class="col-9 align-middle">
        <form method="post" action="{% url 'campaign_detail_update' campaign.pk %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control" rows="10">{{ campaign.description }}</textarea>
            </div>
            
            <button type="submit" class="btn btn-primary mt-2">Update</button>
        </form>
    </div>
</div>
{% endblock %}
