{% extends 'base.html' %}

{% block title %}Campaign Details{% endblock %}
    
{% block content %}
<h2>{{ campaign.client_name }} Campaign</h2>
    
    <div class="row row row-cols-4 border-bottom p-1">
            <div class="col">
            <div class="column-header">Campaign</div>
        </div>

        <div class="col">
            <div class="column-header">Start Date</div>
        </div>

        <div class="col">
            <div class="column-header">End Date</div>
        </div>

        <div class="col">
            <div class="column-header">Description</div>
        </div>
    </div>
    
    <div class="row row row-cols-4 border-bottom p-1">
        <div class="col">
            <p>{{ campaign.campaign_name }}</p>
        </div>

        <div class="col">
            <p>{{ campaign.start_date }}</p>
        </div>

        <div class="col">
            <p>{{ campaign.end_date }}</p>
        </div>

        <div class="col">
            <p>{{ campaign.description }}</p>
        </div>
    </div>  
{% endblock %}
