{% extends 'base.html' %}

{% block title %}Client Detail{% endblock %}

{% block content %}
    <h3 class="display-6">Client Detail</h3>
    <div class="row row row-cols-4 border-bottom p-1">    
        <div class="col">
            <strong class="column-header">Client Name</strong>
        </div>
        <div class="col">
            <strong class="column-header">Budget Allocation</strong>
        </div>
        <div class="col">
            <strong class="column-header">Client Phone</strong>
        </div>
        <div class="col">
            <strong class="column-header">Contact Name</strong>
        </div>
    </div>

    <div class="row row row-cols-4 border-bottom p-1">
        <div class="col">
            <div>{{ client.client_name }}</div>
        </div>    
        <div class="col">
            <div>50000.00</div>
        </div>
        <div class="col">
            <div>{{ client.contact_phone }}</div>
        </div>
        <div class="col">
            <div>{{ client.contact_name }}</div>
        </div>
    </div>    

<div class="row row row-cols-3 border-bottom p-3">
    <div class="col">
         <form method="post" action="{% url 'update_campaign' %}">
    {% csrf_token %}
        <label for="campaign" class="form-label">Select Campaign:</label>
            <select name="campaign" id="campaign" class="form-control mb-3">
                {% for campaign in campaigns %}
                    <option value="{{ campaign.pk }}">{{ campaign.campaign_name }}</option>
                {% endfor %}
            </select>
        <div class="form-group">
            <label for="budget_amount" class="form-label">Budget Amount:</label>
            <input type="number" name="budget_amount" class="form-control" id="budget_amount" step="0.01">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
    </form>
    </div>
    <div class="col"></div>
    <div class="col align-middle">
        <p><strong>Total Budget Forecast: </strong>$<span id="total-budget-forecast">0.00</span></p>
        <p><strong>Total Spend: </strong>$<span id="total-budget-amount">0.00</span></p>
    </div>
</div>

    <div class="row row row-cols-4 border-bottom p-1 bg-success">
    
        <div class="col">
            <div class="column-header text-white">Campaign</div>
        </div>
        <div class="col">
            <div class="column-header text-white">Forecast</div>
        </div>
        <div class="col">
            <div class="column-header text-white">Spend</div>
        </div>
    </div>
    
    {% for campaign in campaigns %}
    <div class="row row row-cols-4 border-start p-1" data-budget-forecast="{{ campaign.budget_forecast }}" data-budget-amount="{{ campaign.budget_amount }}">
        <div class="col">
            <a href="{% url 'campaign-detail' campaign.pk %}">{{ campaign.campaign_name }}</a> 
        </div>
        <div class="col budget-forecast">${{ campaign.budget_forecast }}</div>
        <div class="col budget-amount"><p>${{ campaign.budget_amount }}</p> </div>
    </div>
    {% endfor %}
    <div class="mb-5"></div>
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% comment %} <div class="row row row-cols-4 p-1">
        <div class="col border"></div>
        <div class="col border"></div>
        <div class="col border"></div>
        <div class="col border"></div>
    </div> {% endcomment %}
{% endblock %}