


/* Bootstrap styles */
.nav-link {
  color: #f2f4f7 !important;
}
.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button.logout-btn {
  border: none;
  background: none;
  color: #f2f4f7;
  margin-top: 0.44rem;
}