{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <ul class="nav justify-content-end bg-success">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'client_list' %}">Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" onclick="goBack()">Go Back</a>
        </li>
        {% if user.is_authenticated %}
      <li>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    </ul>
    <main class="container-fluid">
        <div class="container">
            {% block content %}
            <!-- Default content for child templates -->
            {% endblock %}
        </div>
    </main>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>